#### Load data about patients diagnosed with vascular dementia

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
UKBB_PATH = "biobank/ukb672220.csv"

#columns = pd.read_csv(UKBB_PATH, nrows=0).columns.tolist()
#print(columns)

fields = ["eid", "42023-0.0"]
filter_column = "42023-0.0"
chunk_size = 20000

filtered_chunks = []
counter = 0
for chunk in pd.read_csv(UKBB_PATH, usecols=fields, chunksize=chunk_size):
    filtered_chunk = chunk[chunk[filter_column].notna()]

    filtered_chunks.append(filtered_chunk)
    
    counter += 1
    print(counter)

df = pd.concat(filtered_chunks, ignore_index=True)

df.to_pickle('vascular_dementia_filtered.pkl')

df.describe()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26

                eid    42023-0.0
count  1.746000e+03  1746.000000
mean   3.492556e+06    19.878580
std    1.443183e+06     3.151046
min    1.002012e+06    11.000000
25%    2.261002e+06    21.000000
50%    3.478513e+06    21.000000
75%    4.729204e+06    21.000000
max    6.018722e+06    22.000000