In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from DataFields import DataFields
from DataFields import DateReportedFields

from ProjectFunctions import convert_date_to_binary, print_highly_correlated_features

In [2]:
df_diagnosed = pd.read_csv("diagnosed_processed.csv")
df_undiagnosed = pd.read_csv("undiagnosed.csv")
df = pd.concat([df_diagnosed, df_undiagnosed], ignore_index=True, sort=False)
df_dates = df[DateReportedFields]

In [3]:
def convert_time_distance(df, target_feature: str) -> pd.DataFrame:
    input_df = df.copy()  # Create a copy of the dataframe

    target_dates = pd.to_datetime(input_df[target_feature], errors='coerce')

    input_df[target_feature] = target_dates.notna().map({True: 0.0, False: pd.NA})

    for feature in input_df.columns:
        if feature == target_feature:
            continue
        feature_dates = pd.to_datetime(input_df[feature], errors='coerce')
        input_df[feature] = (feature_dates - target_dates).dt.days / 365.25
        
    return input_df

relation_df = convert_time_distance(df_dates, "Vascular Dementia Report Date")

relation_df = relation_df.apply(pd.to_numeric, errors='coerce')

In [4]:
relation_df.mean()

Vascular Dementia Report Date                0.000000
Primary Hypertension                       -15.040995
Secondary Hypertension                      -7.028063
Report of stroke                           -48.085554
Seropositive Rheumatoid Arthritis           -5.335797
Other Rheumatoid Arthritis                 -10.815762
Juvenile Arthritis                          -5.927447
Other Arthritis                             -7.049840
Psoriatic and enteropathic arthropathies    -6.587269
Multiple Sclerosis                         -23.122519
Crohn's disease                            -16.413611
Ulcerative Colitis                         -21.928013
Thyrotoxicosis (Grave's disease)           -11.767802
Sjogren Disease (M35)                       -4.144950
Myasthenia gravis                           -8.312115
Diagnosed with Coeliac disease             -50.010152
B12 deficiency anaemia                      -9.251716
dtype: float64

In [5]:
df.describe()

,Birth Year,Sex,Education,BMI Impedance,Smoking Status,Ever Smoked,Alcohol Intake Frequency,Report of stroke,Diabetes Diagnosed By Doctor,Report of vascular problems,...,Platelet distribution width,Red blood cell (erythrocyte) count,Red blood cell (erythrocyte) distribution width,Reticulocyte count,Reticulocyte percentage,White blood cell (leukocyte) count,Blood Pressure Diastolic,Blood Pressure Systolic,Pulse Rate at Blood Pressure,Stroke Report Date
count,4272.000000,4272.000000,1987.000000,4248.000000,4236.000000,4237.000000,4261.000000,636.000000,4253.000000,2020.000000,...,4211.000000,4211.000000,4211.000000,4154.000000,4154.000000,4211.000000,3946.000000,3946.000000,3946.000000,0.0
mean,1943.189841,0.533474,1.187217,27.971439,0.639282,0.650460,3.066182,9.050314,0.141547,1.927723,...,16.533562,4.493688,13.630693,0.062440,1.390559,7.142636,82.087937,146.593512,70.546376,NaN
std,4.902158,0.498937,1.130542,4.775084,0.662153,0.476881,1.633808,6.126795,0.348626,1.768057,...,0.531051,0.431130,1.027976,0.029997,0.671414,2.031409,10.947536,20.617342,12.581597,NaN
min,1937.000000,0.000000,0.000000,15.525600,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,15.200000,0.634000,11.490000,0.004000,0.227000,0.980000,46.000000,78.000000,35.000000,NaN
25%,1940.000000,0.000000,0.000000,24.772100,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,...,16.170000,4.215000,13.000000,0.044000,1.000250,5.880000,75.000000,132.000000,62.000000,NaN
50%,1942.000000,1.000000,1.000000,27.287400,1.000000,1.000000,3.000000,11.000000,0.000000,2.000000,...,16.500000,4.484000,13.460000,0.059000,1.305500,6.900000,82.000000,146.000000,69.000000,NaN
75%,1945.000000,1.000000,2.000000,30.514075,1.000000,1.000000,4.000000,11.000000,0.000000,4.000000,...,16.830000,4.764500,14.010000,0.076000,1.690000,8.200000,89.000000,160.000000,78.000000,NaN
max,1968.000000,1.000000,3.000000,58.260900,2.000000,1.000000,6.000000,22.000000,1.000000,4.000000,...,19.400000,6.470000,31.700000,1.077000,25.278000,46.600000,132.000000,241.000000,169.000000,NaN

In [6]:
df_binary = convert_date_to_binary(df_dates)
df_correlation = pd.concat([df_binary, df[["Ever Smoked", "Education"]]], ignore_index=True, sort=False)

print_highly_correlated_features(df_binary, features=["Vascular Dementia Report Date"], threshold = 0.5)

Highly correlated features:
Vascular Dementia Report Date: Primary Hypertension